<nav class="nav">
    <div class="wrapper container">
        <div class="logo"><a href="">PROKART</a></div>
        <ul class="nav-list">
            <div class="top">
                <label for="" class="btn close-btn"><i class="fas fa-times"></i></label>
            </div>
            <li><a href="/">Home</a></li>
            <li><a href="/product">Trending</a></li>
            <li>
                <a href="" class="desktop-item">Shop <span><i class="fas fa-chevron-down"></i></span></a>
                <input type="checkbox" id="showMega" />
                <label for="showMega" class="mobile-item">Shop <span><i class="fas fa-chevron-down"></i></span></label>
                <div class="mega-box">
                    <div class="content">
                        <div class="row">
                            <img src="/images/woman.jpg" alt="" />
                        </div>
                        <div class="row">
                            <header>Lorem Ipsum</header>
                            <ul class="mega-links">
                                <li><a href="#">lorem ipsum dolor</a></li>
                                <li><a href="#">lorem ipsum dolor</a></li>
                                <li><a href="#">lorem ipsum dolor</a></li>
                                <li><a href="#">lorem ipsum dolor</a></li>
                            </ul>
                        </div>
                        <div class="row">
                            <header>Lorem Ipsum</header>
                            <ul class="mega-links">
                                <li><a href="#">lorem ipsum dolor</a></li>
                                <li><a href="#">lorem ipsum dolor</a></li>
                                <li><a href="#">lorem ipsum dolor</a></li>
                                <li><a href="#">lorem ipsum dolor</a></li>
                            </ul>
                        </div>
                        <div class="row">
                            <header>Lorem Ipsum</header>
                            <ul class="mega-links">
                                <li><a href="#">lorem ipsum dolor</a></li>
                                <li><a href="#">lorem ipsum dolor</a></li>
                                <li><a href="#">lorem ipsum dolor</a></li>
                                <li><a href="#">lorem ipsum dolor</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a href="" class="desktop-item">Collections <span><i class="fas fa-chevron-down"></i></span></a>
                <input type="checkbox" id="showdrop1" />
                <label for="showdrop1" class="mobile-item">Collections<span><i
                            class="fas fa-chevron-down"></i></span></label>
                <ul class="drop-menu1">
                    <li><a href="/men">Men Collections</a></li>
                    <li><a href="/women">Women Collections</a></li>
                    <li><a href="/leatherAccessories">Leather Accessories</a></li>
                    <li><a href="/shoe">Casual Shoes</a></li>
                    <li><a href="/bagpaks">Bagpacks</a></li>
                    <li><a href="/watches">Watches</a></li>
                </ul>
            </li>
  
            <li>
                <a href="" class="desktop-item">Help <span><i class="fas fa-chevron-down"></i></span></a>
                <ul class="drop-menu2">
                    <li><a href="https://www.linkedin.com/in/md-salehan-54b2671b2/"><i class="fab fa-linkedin 2x"></i> Contact</a></li>
                </ul>
            </li>
            <!-- icons -->
            <li class="icons">
                <span>
                    <img src="/images/shoppingBag.svg" alt="" />
                    <small class="count d-flex">0</small>
                </span>
            </li>
        </ul>
        <label for="" class="btn open-btn"><i class="fas fa-bars"></i></label>
    </div>
</nav>